:root {
    /* Change this variable to control
    how dark the background is. A value
    of 0 indicates fully transparent; A 
    value of 1 indicates opaque black.*/
    --cfix-opacity: 0.5;
}

/* Actual code -- Dont touch unless you know what you're doing.*/

.base-3dtUhz .sidebar-2K8pFh {
    background-color: rgba(0,0,0,var(--cfix-opacity));
}

.sidebar-2K8pFh .container-3w7J-x {
    background-color: transparent;
}

.sidebar-2K8pFh .clickable-25tGDB .header-2V-4Sw:hover,
.sidebar-2K8pFh .selected-31Nl7x .header-2V-4Sw {
    background-color: rgba(0,0,0,calc(var(--cfix-opacity)/2));
}
